@charset "utf-8";

/*
    Filename:         styles.css
    Author:           Sarah Block
    Start Date:       2/15/2021 
    Last Update Date: 2/21/2021
*/



/* All */
* {
    box-sizing: border-box;
}



/* HTML */
.wrapper {
    display: inline-block;
    background-color: #F0EAEC;
}



/* Body */
.wrapperT {
    margin: 0% 10%;
    padding: 1% 10%;
    font-family: "acumin-pro", Arial, sans-serif;
    font-style: normal;
    color: black;
    background: transparent;
}

.wrapperT h1,
.wrapperP h1 {
    font-size: 1.8em;
    color: #93354E;
    font-weight: normal;
}

.wrapperP {
    margin: 0% 10%;
    padding: 1% 10%;
    font-family: "acumin-pro", Arial, sans-serif;
    font-style: normal;
    color: black;
    background: transparent;
}

.wrapperG {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(240, 234, 236, 1) 100%);
}

.wrapperW {
    background: white;
}

.wrapperTT {
    margin: 0% 10%;
    font-family: "acumin-pro", Arial, sans-serif;
    font-style: normal;
    background: transparent;
}




/* Clearfix */
.row a::before,
.row a::after {
    content: "";
    display: table;
    clear: both;
    display: none;
}





/* Header*/
.header {
    text-align: center;
    background: transparent;
    position: relative;
    left: auto;
    right: auto;
}

.header img.name {
    display: inline-block;
    max-width: 25em;
    height: auto;
    border-bottom: 1px solid black;
}





/* Navigation Bar */
.nav {
    position: sticky;
    top: 0;
    max-width: 100%;
    z-index: 1;
}

.topnav {
    padding: 10px;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
}

.topnav a {
    display: inline-block;
    color: black;
    background-color: #F0EAEC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.topnav a:hover {
    color: #C1B2B6;
}





/* Page - Row */
.row {
    background: transparent;
}

.projects h1,
.row#con h1 {
    text-align: center;
}

.row hr {
    margin: 5% 0%;
    border-bottom: 1px solid;
    border-color: #93354E;
    opacity: 0.15;
}








/* Page - About */
.about {
    text-align: left;
}

.about p img {
    float: left;
    max-width: 18em;
    height: auto;
    margin: 20px;
}







/* Page - Resume, Download button */
.button {
    text-align: center;
    overflow: hidden;
    background-color: transparent;
}

.button a {
    display: inline-block;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #93354E;
    color: white;
}

.button a:hover,
.button a:active {
    background-color: #d47a92;
    color: white;
}



/* Page - Resume */
.resume {
    display: inline-block;
    max-width: 100%;
    text-align: left;
}

.resume h2 {
    text-align: left;
    font-size: 1.1em;
    color: #93354E;
    text-transform: uppercase;
    font-weight: normal;
}

.re-sec {
    display: inline-block;
}

.re-item {
    display: inline-block;
}

.re-left,
.re-right {
    float: left;
    position: relative;
    overflow: hidden;
    padding: 0px 15px;
}

.re-left {
    max-width: 33.3%;
}

.re-right {
    max-width: 66.6%;
}

.re-left p:first-of-type,
.re-right p:first-of-type {
    font-weight: bold;
}

resume::before,
resume::after {
    content: "";
    display: table;
    clear: both;
}













/* Page - Projects */
.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 400px;
    width: 500px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
}

.gallery-image img {
    transform: scale(1.0);
    transition: transform 0.4s ease;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 400px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.img-link a {
    z-index: 100;
    height: 400px;
    width: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    background-color: transparent;
    color: transparent;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .transparent-box {
    background-color: rgba(0, 0, 0, 0.5);

}

.img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
}

.img-box:hover {
    cursor: pointer;
}

.caption > p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 0.5;
}


/* Responsive layout */
@media screen and (max-width: 800px) {
    .img-box {
        height: 300px;
        width: 400px;
    }

    .transparent-box {
        height: 300px;
        width: 400px;
    }

    .img-link a {
        height: 300px;
        width: 400px;
    }
}


/* Responsive layout */
@media screen and (max-width: 600px) {
    .img-box {
        height: 200px;
        width: 300px;
    }

    .transparent-box {
        height: 200px;
        width: 300px;
    }

    .img-link a {
        height: 200px;
        width: 300px;
    }
}


.gallery-image::before,
.gallery-image::after {
    content: "";
    display: table;
    clear: both;
}








/* Page - Contact */
.contact {
    display: inline-block;
    text-align: center;
}

.con-item {
    display: inline-block;
}

.con-left,
.con-right {
    float: left;
    position: relative;
    overflow: hidden;
    padding: 0px 15px;
}

.con-left {
    font-weight: bold;
    text-align: right;
    max-width: 33.3%;
}

.con-right {
    text-align: left;
    max-width: 66.6%;
}

contact::before,
contact::after {
    content: "";
    display: table;
    clear: both;
}





/* Footer */
.footer {
    margin: 0px 10px;
    text-align: center;
    overflow: hidden;
    background-color: transparent;
    color: #C1B2B6;
}

.footer a:link,
.footer a:visited {
    color: #C1B2B6;
}

.footer a:hover,
.footer a:active {
    color: black;
}

.logo {
    display: inline-block;
    max-width: 2.5em;
    vertical-align: middle;
    filter: invert(72%) sepia(12%) saturate(188%) hue-rotate(293deg) brightness(100%) contrast(88%);
}








/* New Page - Legal */












/* Responsive layout */
@media screen and (max-width: 600px) {
    .nav {
        position: inherit;
    }
}








/* Section */

/* Section */
