@charset "UTF-8";

/*
   Style Sheet for the Portfolio Project Website
   Author: Sarah Block
   Date:   2/26/2021
   
   Filename: pc_home.css
*/

head {
    display: none;
}

html, body {
    display: block;
    margin: 0%;
    border: 0%;
    padding: 0%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: #2E151B;
}

/* universal border-box*/
* {
    box-sizing: border-box;
}

/* universal clearfix */
*::before,
*::after {
    content: "";
    display: table;
    clear: both;
}

/* brings back line break */
* br {
    clear: none;
    content: none;
}

* hr {
    border-bottom: 1px solid #2E151B;
    width: 75%;
}


/* wrapper for entire webpage */
.wrapper {
    display: block;
    min-height: 100%;
    background: rgb(212,122,146);
    background: linear-gradient(90deg, rgba(212,122,146,1) 0%, rgba(234,190,202,1) 0%, rgba(255,255,255,1) 100%);
}

/* wrapper for webpage centered */
.wrapper-center {
    display: block;
    margin: auto;
    border: 0%;
    padding: 0%;
    max-width: 65%;
    min-height: 100%;
    background-color: transparent;
}


/* header */
header {
    margin-top: 1em;
    font-size: 1.5em;
    display: block;
    text-align: center;

}


/* navigation */
nav {
    background-color: #52333a;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0%;
    border: 0%;
    padding: 0%;

}

nav li {
    display: block;
    float: left;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color:white;
    padding: 1em 1.5em;
}

nav a:hover {
    background-color: #bb9aa1;
    color:#52333a;
}








/* section */ /* aside */ /* article */
section {
    margin: 0%;
    border: 0%;
    padding: 0%;
    background-color: #fffbfb;
}

aside, article {
    margin: 0%;
    border: 0%;
    padding: 0%;
}

.section-text {
    padding: 1em 1.5em;
}


/* ASIDE */
.col-1-3 {
    float: left;
    padding: 1em 1.5em;
    width: 33.33%;
    text-align: right;
}

.col-1-3 > img {
    width: 12em;
}

aside.col-1-3 > h2 {
    font-size: 1em;
}


/* article  buttons */
button {
    display: block;
    text-align: center;
}

.button > p {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}

.button ul {
    list-style-type: none;
    margin: 0%;
    border: 0%;
    padding: 0%;
}

.button li {
    display: inline-block;
    text-align: center;
    margin: 2% 2%;
}

.button a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em 1.5em;
    color: #2E151B;
    border: #2E151B 2px solid;
}

.button a:hover {
    color:#bb9aa1;
    border: #bb9aa1 2px solid;
}

/* article right side */
.col-2-3 {
    float: left;
    padding: 1em 1.5em;
    width: 66.67%;
}




/* footer */
footer {
    padding: 1em 1.5em;
    font-size: 0.65em;
    background-color: #52333a;
    color:white;
    margin-bottom: 1em;
}

.col-1-2 {
    float: left;
    padding: 1em 1.5em;
    width: 50%;
}

.col-1-2#right {
    text-align: right;
}




/* Scaling */
@media only screen and (max-width: 1000px) {
    .col-1-2, 
    .col-1-2#right, 
    .col-1-2#right,
    .col-2-3 {
        width: 100%;
    }

    .col-1-3 {
        padding: 0%;
        width: 100%;
        text-align: center;
    }
    
    .col-1-3 > img {
        width: 12em;
    }


}

@media only screen and (max-width: 650px) {
    .col-1-3 > img {
        width: 12em;
    }

    nav li {
        display: block;
        float: none;
    }
}



/* RESUME page */
.col-1-1 {
    display: block;
    float: left;
    padding: 1em 1.5em;
    width: 100%;
    height: 100%;
}


/* PROJECTS page */
.col-1-1#project-col {
    display: block;
    float: left;
    text-align: center;
    padding: 1em 1.5em;
    width: 100%;
    height: 100%;
}

  .content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(46, 21, 27, 0.493);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }












/* CONTACT page */
.col-1-2#icons {
    float: left;
    text-align: center;
    padding: 1em 1.5em;
    width: 50%;
}

div.icons {
    color: #2E151B;
}

div.icons-social {
    display: block;
    text-align: center;
}

div.icons-social > a {
    display: inline-block;
    padding: 0.75em;
}

div.icons-social:link,
div.icons-social:visited {
  color: #2E151B;
}

div.icons-social a:hover, 
div.icons-social a:active   {
    opacity: 0.7;
}

.fas, 
.fab {
    padding: 0%;
    font-size: 1.75em;
    text-align: left;
    text-decoration: none;
    color: #2E151B;
    position: relative;
    vertical-align: middle;

  }



@media only screen and (max-width: 1000px) {
    .col-1-2#icons { 
        width: 100%;
    } 
}
  




/* CONTACT FORM */
/* Contact from Formspree (https://formspree.io/library/simple-contact-form/) */
/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}


